.container1{
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #ccc;
    height: 333px;
    background-color: #F7F7F7;
    opacity: 100%;
}
.a{
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 250px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #F7F7F7;
    height: 40px;
}
